<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PunchLookup</servlet-name>
        <servlet-class>edu.jsu.mcis.tas.servlets.PunchLookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PunchEntry</servlet-name>
        <servlet-class>edu.jsu.mcis.tas.servlets.PunchEntry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PunchLookup</servlet-name>
        <url-pattern>/PunchLookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PunchEntry</servlet-name>
        <url-pattern>/PunchEntry</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
